{% extends 'base.html.twig' %}

{% block body %}
  <h1>Nous contacter</h1>
  <contact-form url="{{ path('api_contacts_post_collection') }}"></contact-form>
{% endblock %}

{% block title %}

{% endblock %}

